<h4 *ngIf="loading">Loading...</h4>
<app-link-item  
*ngFor="let link of allLinks;let index=index"
[link]="link"
[index]="index"
[isAuthenticated]="loggedIn"
[updateStoreAfterVote]="updateStoreAfterVote">
</app-link-item>
