<div class="flex pa1 justify-between nowrap orange">
    <div class="flex flex-fixed black">
      <div class="fw7 mr1">Hacker News</div>
      <a [routerLink]="['/create']" class='ml1 no-underline black'>new</a>
      <div class="flex" *ngIf="loggedIn">
        <div class="ml1">|</div>
        <a [routerLink]="['/search']" class='ml1 no-underline black'>search</a>
        <div class="ml1">|</div>
        <a [routerLink]="['/create']" class='ml1 no-underline black'>submit</a>
      </div>
    </div>
    <div class="flex flex-fixed">
      <div *ngIf="loggedIn" class="ml1 pointer black" (click)="logout()">logout</div>
      <a *ngIf="!loggedIn" [routerLink]="['/login']" class='ml1 no-underline black'>login</a>
    </div>
  </div>
