<div>
  Search
  <input type="text" [(ngModel)]="searchText" (ngModelChange)="executeSearch()">
</div>
<app-link-item
  *ngFor="let link of allLinks;let index=index"
  [link]="link"
  [index]="index"
  [isAuthenticated]="loggedIn">
</app-link-item>
